/* ---------- Body ---------- */


* {
    font-family: 'Raleway', sans-serif;
}

body { 
    width: 100%; 
    margin: 0px;
}

main { 
    width: 75%;
    margin: auto; 
}

a {
    text-decoration: none;
    color: black;
}



/* ---------- Header ---------- */



header{
    display: flex;
    justify-content: space-between; 
    height: 125px;
    width: 75%;
    margin: auto; 
}

#logo {
    display: flex;
    align-items: center;
}

 #menu { 
    display: flex;
    text-align: center;
    width: 400px;
    height: 100%;
    margin: 0%;
    padding: 0%;
    list-style-type: none;
}

nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1; 
    font-size: 20px;
}

nav a:hover {
    border-top: 2px #0065FC solid;
    padding-bottom: 2px;
    color: #0065FC;
}



/* ---------- Section Recherche ---------- */



h1 {
    margin-bottom: -10px;
}

#complement_h1 {
    font-size: 18px;
}


/* -- Barre de recherche -- */


form {
    height: 50px;
    width: 450px;
    display: flex; 
    border: 1px #f2f2f2 solid;
    border-radius: 20px;  
    margin-bottom: 10px;
} 

.element_form:nth-child(2) {
    flex: 1;
}

form label { 
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -1px;
    margin-left: -1px;
    border-radius: 20px 0px 0px 20px;
    cursor: pointer; 
    background-color: #F2F2F2;
}

.element_form:nth-child(1):hover .fa-location-dot {
    font-size: 25px;
}

.fa-location-dot {
   transition: 0.2s;
}

input[type=search] {
    border: 0px; 
    margin-top: 1px; 
    padding-left: 15px;
    font-weight: 700;
    font-size: 18px;
    
}

input[type=search]:focus{
    outline: none;
}

::placeholder {
    color: black;
    font-family: 'Raleway'; 
    font-weight: 700;
    font-size: 18px;  
}

input[type=submit] {
    height: 52px;
    width: 130px;
    margin-top: -1px;
    margin-right: -1px;
    background-color: #0065FC;
    border: 4px #0065FC solid;
    border-radius: 0px 20px 20px 0px;
    color: white; 
    font-weight: 700;
    font-size: 18px;  
    cursor: pointer;
}

input[type=submit]:hover{
    background-color: #0047b3;
    border-color: #0047b3;
}

form .fa-input {
    display: none;
}

/* -- Filtres --*/


#section_filtres { 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5px 0px 20px 0px;
    font-weight: 700;
    font-size: 18px;
    margin-left: 20px;
    flex-wrap: wrap;
}

#filtres {
    margin: 15px 20px 0px 0px;

}

#tout_les_filtres {
    display: flex;
    width: 900px;
    flex-wrap: wrap;
}


#tout_les_filtres a {
    display: flex;
    align-items: center;
}

.filtres { 
    height: 50px;
    border: 2px #DEEBFF solid;
    border-radius: 30px;
    transition: background-color .3s;
    margin-right: 20px;
    margin-top: 15px;

}

.custom .icon_filtre {
    color: #0065FC;
    transition: font-size .2s;
    height: 54px;
    width: 54px;
    margin-top: -9px;
    
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    margin-left: -4px;
}

.text_filtre {
    padding: 0px 20px 0px 20px;
}

.filtres:hover {
    background-color: #DEEBFF;
    text-decoration: underline;
}

.filtres:hover .icon_filtre {
    font-size: 25px;
}

/* -- info --*/

#section_info {
    display: flex;
    align-items: center;
    margin: 20px 0px 20px 0px;
}

.cercle_info {
    color: #F2F2F2;
}

.fa-info {
    color: #0065FC;
}

#section_info p {
    margin-left: 8px;
}



/* ---------- Toutes les Figures ----------*/



figure { 
    margin: 0px;
    border: 7px white solid;
    background-color: white;
    border-radius: 25px;
    box-shadow: 5px 5px 10px #e0e0e0, 0px 0px 10px #e0e0e0;
}

figcaption { 
    margin: 10px 10px 0px 10px;
}

figcaption * { 
    margin: 0px 0px 5px 0px;
}

/* -- star -- */

.star {
    font-family: "Font Awesome 5 free";
    font-weight: 900;
}

.star5::before {
    content: "\f005" "\f005" "\f005" "\f005" "\f005";
    color: #0065FC;
}

.star4::before {
    content: "\f005" "\f005" "\f005" "\f005";
    color: #0065FC;
}

.star4::after {
    
    content: "\f005";
    color: #e0e0e0;
}

.star3::before {
    content: "\f005" "\f005" "\f005";
    color: #0065FC;
}

.star3::after {
    content: "\f005" "\f005";
    color: #e0e0e0;
}

.star2::before {
    content: "\f005" "\f005";
    color: #0065FC;
}

.star2::after {
    content: "\f005" "\f005" "\f005";
    color: #e0e0e0;
}

.star1::before {
    content: "\f005";
    color: #0065FC;
}

.star1::after {
    content: "\f005" "\f005" "\f005" "\f005";
    color: #e0e0e0;
}
/* ---------- Section hébergements ----------*/



#hebergements {
    display: flex;
}



/* -- hébergements à marseille -- */


#hebergements_marseille { 
    width: 75%;
    background-color: #f2f2f2;
    border-radius: 30px;
    margin-right: 5%;
    padding: 10px 40px 10px 40px;
}

#tout_hebergements { 
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.hebergement { 
    width: 300px;
    border-radius: 30px;
    margin: 0px 10px 40px 10px;
}

.img_hebergement {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
 
}


/* -- Les plus populaires --*/


#plus_populaires {
    width: 350px;
    background-color: #f2f2f2;
    border-radius: 30px;
}

.img_populaires {
    width: 200px;
}



/* ---------- Section activités à Marseille ---------- */



#activites figure {
    border: none;
}


.img_activites {
    width: 200px;
}
/* -_-_-_-_-_ Media Queries _-_-_-_-_- */



/* -_ Smartphone _- */




