/* ----- Body ----- */


body {
    width: 65%;
    margin: auto;
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: blue;
}

/* ----- Header ----- */


header{
    display: flex;
    justify-content: space-between; 
    height: 125px;

}

#logo {
    display: flex;
    align-items: center;
}

#menu { 
    display: flex;
    text-align: center;
    width: 300px;
    height: 100%;
    margin: 0%;
    padding: 0%;
    list-style-type: none;
    font-size: 20px;
    
}

nav li { 
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1; 
}


nav li:hover {
    border-top: 2px blue solid;
    padding-bottom: 2px;
}

nav li:hover a {
    color: blue;
}


/* ----- Section Recherche ----- */


#filtres {
    font-weight: 700;
}
    