/* ---------- Body ---------- */



* {
    font-family: 'Raleway', sans-serif;
}

body { 
    width: 100%; 
    margin: 0px;
}

main { 
    width: 70%;
    margin: auto; 
}

a {
    text-decoration: none;
    color: black;
}



/* ---------- Header ---------- */



header{
    display: flex;
    justify-content: space-between; 
    height: 125px;
    width: 70%;
    margin: auto; 
}

#logo {
    display: flex;
    align-items: center;
}

#menu { 
    display: flex;
    text-align: center;
    width: 400px;
    height: 100%;
    margin: 0%;
    padding: 0%;
    list-style-type: none;
}

nav li { 
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1; 
    font-size: 20px;
}


nav li:hover {
    border-top: 2px #0065FC solid;
    padding-bottom: 2px;
}

nav li:hover a {
    color: #0065FC;
}

header a:hover {
    color: #0065FC;
}

/* ---------- Section Recherche ---------- */



h1 {
    margin-bottom: -10px;
}

#complement_h1 {
    font-size: 18px;
}


/* -- Barre de recherche -- */


form {
    width: 450px;
    height: 50px;
    display: flex; 
    border: 1px #f2f2f2 solid;
    border-radius: 20px;  
} 

.element_form:nth-child(2) {
    flex: 1;
}

form label { background-color: #F2F2F2;
    width: 52px;
    height: 52px;
    margin-top: -1px;
    margin-left: -1px;
    border-radius: 20px 0px 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;  
    cursor: pointer; 
}

.element_form:nth-child(1):hover .fa-location-dot {
    font-size: 25px;
}

.fa-location-dot {
   transition: 0.2s;
}

input[type=search] {
    width: 100%;
    border: 0px; 
    margin-top: 1px; 
    padding-left: 15px;
    font-weight: 700;
    font-size: 18px;
    
}

input[type=search]:focus{
    outline: none;
}

::placeholder {
    color: black;
    font-family: 'Raleway'; 
    font-weight: 700;
    font-size: 18px;  
}

input[type=submit] {
    height: 52px;
    width: 130px;
    margin-top: -1px;
    margin-right: -1px;
    background-color: #0065FC;
    border: 4px #0065FC solid;
    border-radius: 0px 20px 20px 0px;
    color: white; 
    font-weight: 700;
    font-size: 18px;  
    cursor: pointer;
}

input[type=submit]:hover{
    background-color: #0047b3;
    border-color: #0047b3;
}

#loupe {
    display: none;
}

/* -- Filtres --*/


#section_filtres {
    display: flex;
    justify-content: space-around;
    width: 1000px;
    margin: 20px 0px 20px 0px;
    font-weight: 700;
    font-size: 18px;
}

#tout_les_filtres {
    display: flex;
    justify-content: space-around;
    width: 900px;

}

#tout_les_filtres a {
    display: flex;
    align-items: center;
}

.filtre { 
    height: 50px;
    border: 2px #DEEBFF solid;
    border-radius: 30px;
    transition: background-color .3s;
}

.custom .cercle_icon { /* Pk juste .cercle_icon ne marche pas */
    color: #DEEBFF;
    font-size: 54px;
    bottom: -9px;
    left: -3px;   
}

.custom .icon_filtre {
    color: #0065FC;
    left: 2px; 
    transition: font-size .2s;
}

.text_filtre {
    padding: 0px 20px 0px 20px;
}

.filtre:hover {
    background-color: #DEEBFF;
    text-decoration: underline;
}

.filtre:hover .icon_filtre {
    font-size: 25px;
}

/* -- info --*/

#section_info {
    display: flex;
    align-items: center;
}

.cercle_info {
    color: #F2F2F2;
}

#section_info p {
    margin-left: 8px;
}



/* ---------- Section hébergements ----------*/



#hebergements {
    display: flex;
}

.img_hebergement {
    width: 200px;
}

/* -_-_-_-_-_ Media Queries _-_-_-_-_- */



/* -_ Smartphone _- */




