/* ---------- Body ---------- */



main { 
    width: 100%;
    margin: auto;
}

#activites {
    margin-left: 30px;
    margin-right: 30px;
}

#hebergements_marseille {
    margin-left: 30px;
    margin-right: 30px;
}

h2 {
    font-size: 34px;
}

/* ---------- Header ---------- */



#logo {
    margin-left: 40px;
}

header {
    width: 100%;
    height: 175px;
    margin: 0px;
    flex-direction: column;
    align-items: center;
}

nav {
    width: 100%;
    height: 80px;
}

#menu { 
    width: 100%;

}

nav a {
    font-size: 24px;
    border-bottom: 4px #F2F2F2 solid;
}

nav a:hover {
    border-top: none;
    border-bottom: 4px #0065FC solid;
    padding-top: 2px;
}

/* ---------- Section Recherche ---------- */



#section_recherche {
    margin-left: 30px;
    margin-right: 30px;
}

h1 {
    font-size: 34px;
    margin-top: 30px;
    margin-bottom: auto;
}

#complement_h1 {
    font-size: 22px;
}


/* -- Barre de recherche -- */


form {
    height: 80px;
    width: 100%;
    margin: 40px 0px 40px 0px;
    margin-bottom: auto;
}

form label {
    min-width : 82px;
    height: 82px;
    font-size: 25px;
    margin-bottom: 1px;
}

.element_form:nth-child(1):hover .fa-location-dot {
    font-size: 38px;
}

input[type=search] {
    font-size: 24px;
    min-width: 40px;
}

::placeholder {
    font-size: 24px;
}

input[type=submit] {
    display: none;
}

form .fa-input { 
    display: block;
    width: 82px;
    height: 82px;
    border-radius: 20px;
    font-size: 28px;
}


/* -- Filtres --*/


#section_filtres {
    flex-direction: column;
    width: 100%;
}

#filtres  { 
    justify-content: flex-start;
    margin-bottom: 5px;
    width: 100%;
    font-size: 28px;
}

#tout_les_filtres {
    min-height: 150px;
    max-height: 400px;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap; 
}

.filtres {
    margin: 10px;
}

/* -- info -- */


#section_info {
    align-items: flex-start;
    margin-top: 40px;
}



#section_info p {
    font-size: 20px;
    margin-top: 5px;
}



/* ---------- Toutes les Figures ----------*/



figcaption {
    font-size: 22px;
}



/* ---------- Section hébergements ----------*/



#hebergements {
    flex-direction: column-reverse;
    width: 100%;  
}


/* -- hébergements à marseille -- */


#hebergements_marseille { 
    background-color: white;
    width: 90%;
    border-radius: 0px;
    padding: 30px 0px 0px 0px;
}

.hebergement {
    width: 100%;
}

.img_hebergement {
    height: 180px;
}

#afficher_plus {
    font-size: 28px;
}

/* -- Les plus populaires --*/


#plus_populaires { 
    width: 100%;
    min-width: 0px;
    height: 900px;
    max-height: none;
    border-radius: 0px;
    padding: 30px 0px 0px 0px;
}

#titre_populaires {
    margin-left: 30px;
    margin-right: 30px;
}

#plus_populaires figure {
    margin-left: 30px;
    margin-right: 30px;
    height: 20%;
}



/* ---------- Section activités à Marseille ---------- */



#toutes_activites { 
    height: 1700px;
}

#toutes_activites figure {
    width: 100%;
    height: 250px;
}

.img_activites {
    width: 100%;
    height: calc(100% - 50px);
    object-fit: cover;
    border-radius: 18px 18px 0px 0px;
}

/* ---------- Footer ----------*/



footer {
    flex-direction: column;
    height: 700px;
}

footer section {
    margin: 0px 30px 30px 30px;
    width: 100%;

}

footer p {

}