/* ---------- Body ---------- */



main {
    width: 90%;
    margin: auto;
}



/* ---------- Header ---------- */



#logo {
    margin-left: 40px;
}

header {
    width: 100%;
    height: 175px;
    margin: 0px;
    flex-direction: column;
    align-items: center;
}

nav {
    width: 100%;
    height: 80px;
}

#menu { 
    width: 100%;

}

nav li {
    font-size: 24px;
    border-bottom: 4px #F2F2F2 solid;
}

nav li:hover {
    border-top: none;
    border-bottom: 4px #0065FC solid;
    padding-top: 2px;
}



/* ---------- Section Recherche ---------- */



h1 {
    font-size: 34px;
    margin-top: 30px;
    margin-bottom: auto;
}

#complement_h1 {
    font-size: 22px;
}


/* -- Barre de recherche -- */


form {
    height: 80px;
    width: 100%;
    margin: 40px 0px 40px 0px;
    margin-bottom: auto;
}

form label {
    width : 84px;
    height: 84px;
    font-size: 25px;
}

.element_form:nth-child(1):hover .fa-location-dot {
    font-size: 38px;
}

input[type=search] {
    font-size: 24px;
}

::placeholder {
    font-size: 24px;
}

input[type=submit] {
    display: none;
}

#loupe {
    display: block;
    width: 74px;
    height: 74px;
    border-radius: 20px;
    background-color: #0065FC;
    border: 4px #0065FC solid;
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* -- Filtres --*/


#section_filtres {
    flex-direction: column;
    width: 100%;
}

#tout_les_filtres {
    min-height: 150px;
    max-height: 400px;
    width: 100%;
    justify-content: stretch;
    flex-wrap: wrap;
}

.filtre {
    margin-left: 15px;
}